.footer {
    background-color: #11133d;
    padding: 50px 150px;
    display: flex;
    justify-content: space-around;
  }
  
  .cl-1, .cl-2, .cl-3 {
    padding: 0px;
    padding-top: 30px;
    color: white;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 400;
    width: 30%;
  }
  
  .cl-2 h4, .cl-3 h4 {
    font-size: 20px;
    line-height: 0;
    color: white;
    font-family: 'Arial';
    font-weight: 600;
  }
  
  .cl-2 ul, .cl-3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cl-2 ul li, .cl-3 ul li {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Arial';
    align-items: start;
  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
      padding: 10vw;
  }
  
    .cl-1, .cl-2, .cl-3 {
      width: 100%;
      text-align: center;
    }

  }
  