/* categorylist.css */






html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.category-list {
  display: flex;
  overflow-x: auto;
  flex-grow: 1;
  background-color: #D9DFF5;
  border-radius: 10px;
  border-color: #D9DFF5;
  margin-left: 10px;

}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #fff;
  padding: 26.5px;

}

.category-item:hover {
  background-color: #f0f0f0;
}

.category-icon {
  font-size: 24px;
}

.displayed-name {
  margin-top: 5px;
}