@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 1.4em;
  height: 1.4em;
}
.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: 0em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
  z-index: -1;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #0d1a8b;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #0d1a8b;
}
/* .radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
} */
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

#sidebar-menu::-webkit-scrollbar {
  display: none;
}

#welcome-div {
  background: rgb(13, 26, 139);
  background: linear-gradient(
    90deg,
    rgba(13, 26, 139, 1) 12%,
    rgba(58, 71, 184, 1) 55%,
    rgba(58, 71, 191, 1) 100%
  );
}

.active {
  background-color: #0d1a8b;
  color: #fff;
}

.active:hover {
  background-color: #0c1673 !important;
  color: #fff;
}
